 # Core
streamlit
numpy
pandas

# Embeddings & NLP
sentence-transformers
faiss-cpu

# PDF parsing
pdfminer.six

# Langchain for text splitting
langchain
langchain-core

# Gemini API
google-generativeai

# Utilities
tqdm
protobuf